{% extends 'base.html.twig' %}

{% block title %}Create Reservation{% endblock %}

{% block body %}
<h1 class="mb-4">Create Reservation</h1>

{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.guests) }}
        {{ form_widget(form.guests, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.restaurant) }}
        {{ form_widget(form.restaurant, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.table) }}
        {{ form_widget(form.table, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-success">Save</button>
{{ form_end(form) }}

<a href="{{ path('app_reservation_index') }}" class="btn btn-secondary mt-4">Back to Reservations</a>
{% endblock %}
